*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

hr{
  background-color: gray;
 }

.contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
  &__titulo{
    width: 90%;
    text-align: center;
    margin-right: 10%;
    &__text{
    background: linear-gradient(90deg, rgba(242,2,229,1) 0%, rgba(141,58,173,1) 51%, rgba(103,12,128,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  }
}

.form{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  &__item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__titulo{
      color: rgb(102, 34, 165);
      font-weight: 600;
    }

    &__input{
      border: 0;
      border-bottom: 1px solid rgb(102, 34, 165);
      font-size: larger;
      font-weight: 700;
    }

    &__input:focus{
      outline: none;
    }

    &__buton{
      padding: 6% 5%;
      color: white;
      font-weight: 900;
      background: linear-gradient(90deg, rgba(242,2,229,1) 0%, rgba(120,10,205,1) 41%, rgba(93,3,145,1) 90%, rgba(33,12,128,1) 100%);
      border: none;
    }
  }
}

.small{
 width: 40%;
 margin: 2%;
}

.large{
  width: 84%;
  margin: 2%;
}

.medio{
  width: 20%;
  margin: 2%;
}

.card{
  width: 90%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;

 
  &__inicio{
    color: white;
    width: 25%;
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(231,73,236);
    padding: 9% 0;
    border-radius: 20px 0 0 20px;
  //  box-shadow: -4px 0 4px 4px rgba(128, 128, 128, 0.218);
background: linear-gradient(90deg, rgba(231,73,236,1) 2%, rgba(189,65,192,1) 17%, rgba(128,0,207,1) 59%, rgba(22,3,201,1) 100%);
    &__img{
      width: 30%;
    }
  }

  &__info{
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 2% 5%;
    font-size: 100%;
    height: 90%;

  
    &__cont{
      padding-top: 5%;
    }

    &__cont2{
      padding: 5% 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__sobremi{
    &__parrafo{
      color: gray;
    }
  }
}

.info{
  &__correo{
    &__titulo{

    }
    &__parrafo{
      color: gray;
    }
  }
  &__tel{

    &__parrafo{
      color: gray;
    }
  }
}
